@model AssignmentThree_N01458977.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<h3>Teacher Name:</h3>
<p>@Model.TeacherFname @Model.TeacherLname</p>

<h3>Teaching:</h3>
<p>@Model.TeacherClass</p>

 